body
{
	margin: 0%;
}

.container
{
	background-color: black;
	color: orange;
	font-size: 100%;
}

.first
{
	display: flex;
	height: 9vh;
	padding: 0 0 1vh 0;
}

.A,.B,.C,.D
{
	border: 1px solid blue;
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.second
{
	display: flex;
	height: 30vh;

}

.one,.two
{
	border: 1px solid blueviolet;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.three,.four
{
	margin: 0 0 0 1vh;
	border: 1px solid blueviolet;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.five,.six
{
	margin: 0 0 1vh 1vh;
	border: 1px solid blueviolet;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.third
{
	display: flex;
	height: 60vh;
}
.fourth
{
	display: flex;
	width: 50vw;
	padding: 1vh 0 1vh  0;
}
.fifth
{
	display: flex;
	flex-direction: column;
	width: 50vw;
}

.fifth-first,.fifth-second
{
	display: flex;
	height: 29vh;
	padding: 1vh 0 0 0
}
